type hal_fingerprint_mt6785, domain;
typeattribute hal_fingerprint_mt6785 data_between_core_and_vendor_violators;
typeattribute hal_fingerprint_mt6785 vendor_executes_system_violators;
hal_client_domain(hal_fingerprint_mt6785, hal_fingerprint)
hal_server_domain(hal_fingerprint_mt6785, hal_fingerprint)

type hal_fingerprint_mt6785_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_mt6785)
