# Allow system_app to write touchpanel nodes
allow system_app proc_tp:dir search;
allow system_app proc_tp:file rw_file_perms;

# Allow system_app to set cabc props
set_prop(system_app, cabc_prop)

# Allow system_app to set perf_profile prop
set_prop(system_app, perf_prop)

# Allow system_app to read fps info node
allow system_app sysfs_fps:dir search;
allow system_app sysfs_fps:file r_file_perms;

# Battery Health
r_dir_file(system_app, sysfs_battery_supply)
